.divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: transparent;
    border-bottom: 1px solid #00F0FF;
    box-shadow: 0 0 5px #00F0FF;
    margin-top: 10px;
    margin-bottom: 10px;
}