.input-box-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.input-box-container input {
    width: 42px;
    margin: 0;
    box-sizing: border-box;
    background-color: #0d2a35;
    border: 1px solid #00F0FF;
    color: #00F0FF;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
    padding: 1px 5px;
    transition: all 0.3s ease;
}

.input-box-container input:focus {
    outline: none;
    border: 1px solid #5ff5ff;
    box-shadow: 0 0 5px rgba(0, 240, 255, 0.4);
}