.dropdown {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    border-color: #00F0FF;
    width: 100%;
    min-width: 100px;
    background-color: #0d2a35;

    color: #00F0FF;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
    transition: all 0.3s ease;
}

.header {
    display: flex;
    flex-direction: row;
    height: 22px
}

.selected-item {
    flex: 1 1 auto;
    margin-left: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 0;
}

.arrow {
    position: relative;
    top: -1px;
    flex: 0 0 auto;
    height: calc(100% + 2px);
    width: 24px;
    background-color: transparent;
    border-left: 1px solid #00F0FF;
}

.arrow-image {
    position: relative;
    left: 3px;
    top: 5px;
    background-image: url(".\\Arrow.png");
    width: 18px;
    height: 12px;
    filter: invert(1) drop-shadow(0 0 2px #00F0FF);
}

.item-list {
    position: absolute;
    top: -1px;
    left: -1px;
    box-sizing: content-box;
    border: solid 1px #00F0FF;
    background-color: #0d2a35;
    width: inherit;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 240, 255, 0.2);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    margin: 0;
    padding: 0;
    height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: #00F0FF;
}

li>span {
    margin-left: 4px;
}

li:hover {
    color: #0d2a35;
    background-color: #00F0FF;
    box-shadow: 0 0 5px rgba(0, 240, 255, 0.5);
}

.dropdown:hover {
    box-shadow: 0 0 5px rgba(0, 240, 255, 0.4);
    border-color: #5ff5ff;
}