.dropdown {
    display: block;
    position: relative;
    box-sizing: border-box;
    border: solid;
    border-width: 1px;
    border-color: white;
    width: 198px;
    background-color: #009de0;

    color: white;
    font-family: Consolas, monaco, monospace;
    font-size: 12pt;
}

.header {
    display: flex;
    flex-direction: row;
    height: 22px
}

.selected-item {
    flex: 1 1 auto;
    margin-left: 4px;
}

.arrow {
    position: relative;
    top: -1px;
    flex: 0 0 auto;
    height: calc(100% + 2px);
    width: 24px;
    background-color: white;
}

.arrow-image {
    position: relative;
    left: 3px;
    top: 5px;
    background-image: url(".\\Arrow.png");
    width: 18px;
    height: 12px;
}

.item-list {
    position: absolute;
    top: -1px;
    left: -1px;
    box-sizing: border-box;
    border: solid 1px white;
    background-color: inherit;
    width: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: block;
    margin: 0;
    padding: 0;
    height: 22px;
}

li > span {
    margin-left: 4px;
}

li:hover {
    color: black;
    background-color: #a3e9ff;
}
