.basecard {
    display: block;
    box-sizing: border-box;
    background-color: rgba(13, 42, 53, 0.9);
    padding: 12px;
    border: 1px solid #00F0FF;
    box-shadow: 0 0 15px rgba(0, 240, 255, 0.15);

    color: white;
    font-size: 16pt;
    font-weight: 400;
}

.fixed-height {
    height: 600px;
}

.auto-height {
    height: auto;
}

.fixed-width {
    width: 375px;
}

.auto-width {
    flex-grow: 1;
    width: 0;
    min-width: 375px;
    max-width: 700px;
}

h2,
.title-input {
    color: #00F0FF;
    text-shadow: 0 0 5px rgba(0, 240, 255, 0.5);
    font-size: 24pt;
    margin-top: 6px;
    margin-bottom: 6px;
    font-weight: 300;
}

.title-input {
    display: block;
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 0;
    width: 100%;
}

.divider {
    background-color: white;
    margin-top: 0 !important;
}