body {
  margin: 0;
  padding: 0;

  background-color: #15353E;

  font-family: agency-fb, sans-serif;
  font-weight: 300;
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
