.slidercontainer {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

.slider {
    appearance: none;
    width: 100%;
    margin: 0;
    height: 6px;
    background: #1A4D5E;
    border-radius: 3px;
    outline: none;
    opacity: 1.0;
    transition: opacity 0.2s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.slider:hover {
    opacity: 1;
}

.slider::-moz-focus-outer {
    border: 0;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* Override default look */
    appearance: none;
    width: 20px;
    /* Set a specific slider handle width */
    height: 20px;
    /* Slider handle height */
    border-radius: 50%;
    background: white;
    cursor: pointer;
    /* Cursor on hover */
    box-shadow: 0 0 10px #00F0FF;
    border: 1px solid #00F0FF;
}

.slider::-moz-range-thumb {
    width: 20px;
    /* Set a specific slider handle width */
    height: 20px;
    /* Slider handle height */
    border-radius: 50%;
    background: white;
    cursor: pointer;
    /* Cursor on hover */
    box-shadow: 0 0 10px #00F0FF;
    border: 1px solid #00F0FF;
}