.card-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.card-container > div {
    margin-left: 12px;
    margin-top: 12px;
}
