.topbar {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    background-color: #0d2a35;
    border-bottom: 1px solid #00F0FF;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

@media screen and (min-width: 470px) {
    .topbar {
        border-right: 12px solid #081216;
        border-left: 12px solid #081216;
    }
}